 .heading-section{
    text-align: center;
    color:whitesmoke;
    background-color: blue;
    background-position: 100px;
    border-radius: 100px;
    border: brown 100px;
    text-overflow: clip;
 }
 .label-1{
   background-color: darkgreen;
   background-position: 10%;
   color: blue;
 }
 .div{
    position: relative;
    text-align: center;
 }
 .button:hover{
color: yellow;
cursor:pointer;
background-color: blue;

 }
 .button{
    color: black;
    background-color: aquamarine;
    
 }
 .span{
    color: cadetblue;
    background-color: rgb(15, 15, 16);
    text-align: center;
    box-sizing: content-box;
 }
 li{
   list-style-type:circle;
   font-size: larger;
   background-color: lightcyan;
   color: brown;
   
 }
 .table-container{
   height: 300px;
   width: 300px;
   background-color: burlywood;
   border: 2px solid black;
   border-collapse: collapse;
   position: absolute;
   left: 50%;
   right: 70%;
 }
 table,td,th { 
   border: 1px dotted black; 
   
  border-collapse: collapse; 
  text-align: center;
}
th{
   background-color: chartreuse;
} 